$linkcolor: #89BE2E;
$lendit-green: #89be2e;
$lendit-grey: #8c8d8d;
$light-grey: #eee;
$nav-link-color: $lendit-green;
$nav-menu-bars: $lendit-green;
$nav-link-active: $lendit-grey;
$nav-border-right:#cc0;
$nav-parent-active-foreground: #fff;
$nav-parent-active-background: $lendit-green;
$nav-menu-active-background: $lendit-green;
$nav-menu-active-foreground: #fff;
$nav-menu-hover-background: $lendit-grey;
// l2-link-hover
$nav-small-border-bottom:#fff;
$nav-l1-link-background:$light-grey;
$nav-ul-background: #fff;
$nav-link-border-top: $light-grey;
$nav-caret: $lendit-green;
$nav-font-size:20px;

